# Server
RECOMMENDATION_SERVICE_PORT=8083

# Keycloak
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/game-cellar

# Downstream services
GAME_SERVICE_URL=http://localhost:8081
LIBRARY_SERVICE_URL=http://localhost:8082
